<html>
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Registeration Info </title>
</head>

<body>
	
	<div >
		<h3  ><a href = "{% url 'teacher' id=user.teacher.id %}" > Registeration Info </a></h3>
		<h3 ><a href = "{% url 'tcourses' id=user.teacher.id %}" > Course Info </a></h3>
		<h3 ><a href = ""> Marks Info</a></h3>
		<h3  ><a href = "{% url 't_attendance' id=user.teacher.id %}"> Attendance</a></h3>
	</div>
	<a href="{% url 'logout' %}">Log out</a>
	{% block content %}
    {% endblock %}
</body>
</html>