{% extends "data/home_s.html" %}
        
{% block content %}
    <div >
        <h1  >Attendance</h1>
        <table >
            <tr>
                <th >Course Number</th>
                <th >Course Name</th>
                <th >Course Section</th>
                <th >Location</th>
                <th >Strength</th>
            </tr>
            {% for sub in subs %}
                    <tr>
                        <th ><a href ="{% url 'all_dates' id=sub.pk %}">{{ sub.course.id }}</a></th>
                        <th >{{ sub.course.name }}</th>
                        <th >{{ sub.section.id }}</th>
                        <th >{{ sub.section.location }}</th>
                        <th >{{ sub.students.count }}</th>
                    </tr>
            {% endfor %}
            
        </table>
    </div>

{% endblock %}
