
.info{
	position : absolute;
	font-family : sans-serif;
	
}

#h1{
	position :relative;
	top:180px;
	left :200px;
	
}

th{
	padding:10px;
}

#info_tab{
	position: relative;
	top: 200px;
	left: 220px;
}

#info_h{
	color : #006400;
	text-align: left;
	
}